In [223]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('ggplot')

In [326]:
# county_adjac = pd.read_csv('county_adjacency.txt')

with open('county_adjacency.txt', 'rb') as f:
    string = ''
    for _ in f:
        string += f'{_}'
    
    nums_str = ''
    marked_string = string.replace("n'b'", "~")
    for char in marked_string:
        if char.isdigit() or char in '~':
            nums_str += char
    
    neighbor_list = []
    k = ''
    nums_list = nums_str.split('~')
    d = {}
    
    for num in nums_list:
        if len(num) == 10:
            d[k] = neighbor_list
            k = ''
            v = ''
            for nu in range(5):
                k += num[nu]
            for n in range(5, 10):
                v += num[n]
            neighbor_list = [v]
        if len(num) == 5:
            neighbor_list.append(num)
    d[k] = neighbor_list
    d.pop('')
            
#     x = f.read()
#     x

In [359]:
print(len(d))
# print(d)

3213

In [102]:
# neighbors=pd.DataFrame.from_dict(d,orient='index')
# neighbors = neighbors.reset_index()
# neighbors = neighbors.rename(columns={'index':'fips'})
# # neighbors.describe()
# print(neighbors.shape)
# neighbors.head()

In [260]:
# county_pop = pd.read_csv('covid_county_population_usafacts.csv')
# county_pop = county_pop[['countyFIPS', 'population']]
# print(county_pop.shape)

In [414]:
county_case = pd.read_csv('covid_confirmed_usafacts.csv')
case_cumul = county_case[['countyFIPS', '10/21/20']]
case_cumul = case_cumul.rename(columns={'countyFIPS':'fips'})
case_cumul = case_cumul.rename(columns={'10/21/20':'covid_cases'})
print(county_case.shape)
print(case_cumul.shape)

(3195, 278)
(3195, 2)

In [339]:
county_death = pd.read_csv('covid_deaths_usafacts.csv')
death_cumul = county_death[['countyFIPS', '10/21/20']]
death_cumul = death_cumul.rename(columns={'countyFIPS':'fips'})
death_cumul = death_cumul.rename(columns={'10/21/20':'covid_deaths'})
print(county_death.shape)
print(death_cumul.shape)

(3195, 278)
(3195, 2)

In [338]:
county_transpo = pd.read_csv('County_Transportation_Profiles.csv')
county_transpo = county_transpo.rename(columns={'County FIPS':'fips'})
print(county_transpo.shape)
# county_transpo.head()

(3142, 22)

In [398]:
tc = pd.merge(county_transpo, case_cumul, how = 'inner', on='fips')
tcd = pd.merge(tc, death_cumul, how = 'inner', on='fips')
tcd['fips'] = tcd['fips'].astype(str)
tcd['fips'] = tcd['fips'].str.zfill(5)

tcd = tcd.rename(columns={'State Name':'state','Primary and Commercial Airports':'com_airports',\
                         'Number of Bridges':'bridges','Number of business establishments':'businesses',\
                         'Percent of resident workers who commute by transit':'%transit_commuters',\
                         'Number of resident workers who work at home':'work_at_home',\
                         'Number of workers from other counties who commute to work in the county':'commute_in',\
                         'Number of resident workers who commute to work in other counties':'commute_out',\
                         'Number of resident workers who commute within county':'commute_within',\
                         'Number of resident workers':'resident_workers','Number of residents':'residents',\
                         'Total Marinas':'marinas','Total Docks':'docks',\
                         'Route miles of passenger railroad and rail transit':'miles_passenger_rail'})
df = tcd[['fips','state','com_airports','%transit_commuters','marinas','docks','miles_passenger_rail']].copy()
df['cases_per_mil'] = 1000000 * tcd['covid_cases'] / tcd['residents']
df['deaths_per_mil'] = 1000000 * tcd['covid_deaths'] / tcd['residents']
df['businesses_per_k'] = 1000 * tcd['businesses'] / tcd['residents']
df['%home_worker'] = tcd['work_at_home'] / tcd['residents']
df['%commute_in'] = tcd['commute_in'] / tcd['residents']
df['%commute_out'] = tcd['commute_out'] / tcd['residents']
df['%workers'] = tcd['resident_workers'] / tcd['residents']
df.set_index('fips', inplace=True)

print(tcd.shape)
df.head()

(3142, 24)

,state,com_airports,%transit_commuters,marinas,docks,miles_passenger_rail,cases_per_mil,deaths_per_mil,businesses_per_k,%home_worker,%commute_in,%commute_out,%workers
fips,,,,,,,,,,,,,
01001,Alabama,0.0,0.000782,NaN,NaN,0.0,36712.079927,544.959128,15.785649,0.009264,0.282943,0.280054,0.441417
01003,Alabama,0.0,0.002143,0.0,1.0,0.0,32294.120595,345.847326,26.986116,0.021954,0.120350,0.088958,0.432610
01005,Alabama,0.0,0.003984,0.0,0.0,0.0,37422.506106,338.155176,17.095623,0.004133,0.088972,0.070299,0.330077
01007,Alabama,0.0,0.004710,NaN,NaN,5.5,35489.587949,620.292424,12.583075,0.004431,0.215685,0.213381,0.366859
01009,Alabama,0.0,0.001639,NaN,NaN,0.0,32458.192531,433.238021,12.096006,0.008318,0.245577,0.242284,0.369985

In [418]:
tcd = tcd[tcd['fips'].isin(d2)]
df = df[df.index.isin(d2)]
print(tcd.shape)
print(df.shape)
print(len(d2))

(3137, 24)
(3137, 13)
3137

In [369]:
d2 = {}
val_list = []

for k,val in d.items():
    if tcd['fips'].isin([k]).any():
        for v in val:
            if v != k:
                val_list.append(v)
        d2[k] = val_list
        val_list = []
        
print(len(d2))
# print(d2)

3137

In [374]:
key_list = []
case_lst = []

for k, val in d2.items():
#     print(f'k=:{k}')
    key_list.append(k)    
    case_count = 0
    
    for v in val:
#         print(f'v=:{v}')
        if tcd['fips'].isin([v]).any():
            case_count = case_count + tcd.loc[v == tcd['fips'], ['covid_cases']]['covid_cases'].values[0]
#           print(f'\n{case_count}\n')

    case_lst.append(case_count)

In [377]:
print(len(key_list))
print(len(case_lst))

3137
3137

In [375]:
print(case_lst[-15:])

[1736, 2950, 10629, 6091, 1885, 1085, 5000, 2831, 2178, 2578, 3583, 9179, 2022, 3001, 5776]

In [376]:
# pd.plotting.scatter_matrix(df[['%transit_commuters','cases_per_mil']],figsize=(10,10),s=100,c='black')

In [419]:
# tcd['fips'].isin(['02050']).any()
# tcd[tcd['fips']=='01021']
# print(tcd.loc[tcd['fips'] == k, ['fips','covid_cases','residents']])